In [3]:
# Q1 How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?
d = " ' "
print(d)

 '

In [4]:
# Q2. Refer the below var1able:
# x = ‘a'
# Here, is x a character type or str1ng type var1able? Support your answer w1th an explanat1on.
#'a' is a string type variable because it is stored in a variable.
x = 'a'
print(type(x))

<class 'str'>

In [17]:
# Q2 Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foundat1on course'
# find()
# count()
#len()
# concatenation
# Note: You can use your cho1ce of parametersQ But make sure 1t 1s correct.
name =  'Welcome to python foundat1on course'
print(name.find("python"))
print(name.count('t'))
print(len(name))
s = "Welcome python foundation"
q = "Cource"
z = s + ' ' + q
print(z)

11
3
35
Welcome python foundation Cource

In [18]:
# Q5 Wr1te a co e to store a numer1cal value 1ns1 e a var1able then convert 1t 1nto string
a  = '5'
print(a)
print(type(a))

5
<class 'str'>